name: Continuous Integration

on:
  pull_request:
  workflow_dispatch:
  merge_group:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ !contains(github.ref, 'main')}}

permissions: read-all

jobs:
  ci:
    name: "CI"
    runs-on: ubuntu-slim
    # container:
    #   image: mcr.microsoft.com/azurelinux/base/core:3.0
    #   options: --user root --publish-all --cap-add NET_ADMIN --cap-add NET_RAW --cap-add SYS_PTRACE

    steps:
      - name: "Install Rust"
        shell: bash
        run: |
          curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
          echo "$HOME/.cargo/bin" >> $GITHUB_PATH

      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: "Run CI checks"
        shell: bash
        run: |
          cargo fmt -- --check
